.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;

  background-color: wheat;
  border-radius: 8px;

  justify-content: center;
  align-items: center;

  min-height: 100px;
}

.hasData {
  justify-content: flex-start;
}
